<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row d-flex justify-content-around">
        <!--                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>-->
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Criar uma conta</h1>
            </div>
            <form class="user" action="/usuarios/cadastrar" method="post" onsubmit="alert('Cadastrado com sucesso!')">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" name="nome" class="form-control form-control-user" id="exampleFirstName"
                         placeholder="NOME">
                </div>
                <div class="col-sm-6">
                  <input type="text" name="cpf" class="form-control form-control-user" id="exampleLastName"
                         placeholder="CPF">
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="telefone" class="form-control form-control-user" id="exampleInputEmail"
                       placeholder="Telefone">
              </div>
              <div class="form-group">
                <div class="col-sm-12 mb-3 mb-sm-0">
                                        <textarea rows="20" name="sobreVoce" cols="10" class="form-control"
                                                  placeholder="Sobre Voce" style="height:150px"></textarea>
                </div>

              </div>
              <button type="submit" class="btn btn-primary btn-user btn-block">
                Cadastrar
              </button>
              <hr>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>